/* Connect board A PA9 -> board B PA10, board B PA9 -> board A PA10, and GND. */
/ {
    aliases {
        interboard-uart = &usart1;
        interboard-rs485 = &usart2;
        interboard-can = &can3;
    };
};

&usart1 {
    current-speed = <460800>;
};

/* MC02 hardware DE PD4, TX PD5, RX PD6; avoid SPI2(1/2), USART1(3/4), UART5(6). */
&usart2 {
    current-speed = <460800>;
    dmas = <&dmamux1 0 44 STM32_DMA_PERIPH_TX>,
           <&dmamux1 5 43 STM32_DMA_PERIPH_RX>;
    dma-names = "tx", "rx";
};

&can3 {
    bitrate = <1000000>;
};

&rng {
    status = "okay";
};
