# Native ST-Link DAP mode.  Use openocd_stlink_hla.cfg only for an old
# ST-Link firmware or clone which does not support dapdirect_swd.
source [find interface/stlink-dap.cfg]

transport select dapdirect_swd

source [find target/stm32f4x.cfg]

adapter speed 4000
