#include <zephyr/dt-bindings/pwm/pwm.h>
/ {
    aliases {
        telemetry-uart = &usart1;
    };
    imu_heater_config {
        compatible = "pwm-leds";
        imu_heater: heater {
            pwms = <&pwm_heat 4 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        };
    };
};
// Board alias rs485-2 already maps to this remapped USART2 (PD4/PD5/PD6).
// RX only: firmware never transmits configuration commands to the DM module.
&usart2 {
    current-speed = <1000000>;
    dmas = <&dmamux1 5 43 STM32_DMA_PERIPH_RX>;
    dma-names = "rx";
};
&usart1 {
    current-speed = <115200>;
};
&timers3 {
    status = "okay";
    st,prescaler = <99>;
    pwm_heat: pwm {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&tim3_ch4_pb1>;
    };
};
