menu "Skywalker Device Drivers"

config SKYWALKER_DRIVER_PID
    bool "Skywalker PID Controller"
    help
        Enable the PID Controller driver.

config SKYWALKER_DRIVER_KALMAN_FILTER
    bool "Skywalker Kalman Filter"
    help
        Enable the Kalman Filter driver.

config SKYWALKER_DRIVER_IMU
      bool "Skywalker IMU Driver"
      help
          Enable the IMU attitude estimation driver.
          Select estimation method via DT property "estimator".   

endmenu
