menu "Skywalker Device Drivers"

config SKYWALKER_DRIVER_KALMAN_FILTER
    bool "Skywalker Kalman Filter"
    help
        Enable the Kalman Filter driver.

rsource "imu/Kconfig"

config SKYWALKER_DRIVER_MOTOR
    bool "Skywalker Motor Subsystem"
    depends on CAN
    help
        Enable Skywalker motor drivers.
        
if SKYWALKER_DRIVER_MOTOR

rsource "motor/Kconfig"

endif

endmenu
