/ {
    aliases {
        motor0 = &gm6020_1;
    };

    gm6020_1: motor-1 {
        compatible = "dji,gm6020-current";
        status = "okay";
        can-bus = <&can1>;
        motor-id = <1>;
        current-limit-ma = <0>;
        gear-ratio-num = <1>;
        gear-ratio-den = <1>;
        current-loop-confirmed;
    };
};
