/ {
    aliases {
        motor0 = &m3508_1;
    };

    m3508_1: motor-1 {
        compatible = "dji,m3508-c620";
        status = "okay";
        can-bus = <&can1>;
        motor-id = <1>;
        current-limit-ma = <0>;
        gear-ratio-num = <3591>;
        gear-ratio-den = <187>;
    };
};
