/ {
	imu: imu {
		compatible = "skywalker,imu";
		accel-dev = <&bmi08x_accel>;
		gyro-dev = <&bmi08x_gyro>;
		heat-dev = <&pwm_heat>;
		filter-dev = <&ekf_filter>;
		estimator = "ekf";
		heat-kp = "6000000";
		heat-ki = "0";
		heat-kd = "0.02";
		heat-integral-max = "0";
		heat-output-max = "20000000";
		heat-deadband = "0";
		heat-derivative-tau-s = "0";
		heat-dt-min-s = "0.05";
		heat-dt-max-s = "0.20";
		heat-feedforward-ns = "6750000";
	};

	ekf_filter: ekf_filter {
		compatible = "skywalker,kalman_filter";
		state-dim = <4>;
		measure-dim = <3>;
	};

};

&timers3 {
	status = "okay";
	st,prescaler = <99>;

	pwm_heat: pwm {
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&tim3_ch4_pb1>;
	};
};
