source [find interface/stlink.cfg]

transport select hla_swd

source [find target/stm32h7x.cfg]
adapter speed 4000

# STM32H7: assert SRST during connect to force halt
reset_config srst_only srst_nogate connect_assert_srst
