/ {
    aliases {
        remote-uart = &uart5;
        vision-uart = &uart7;
        referee-uart = &usart1;
        telemetry-uart = &cdc_acm_uart0;
    };
};
&uart7 {
    current-speed = <115200>;
    dmas = <&dmamux1 5 80 STM32_DMA_PERIPH_TX>,
           <&dmamux1 7 79 STM32_DMA_PERIPH_RX>;
    dma-names = "tx", "rx";
};
&usart1 { current-speed = <115200>; };
